header.header.fixed-top
	.branding.docs-branding
		.container-fluid.position-relative.py-2
			.docs-logo-wrapper
				.site-logo
					a.navbar-brand(href="index.html")
						i.fa.fa-university
						| &nbsp;LIQUIDO Doc
			
			.docs-top-utilities.d-flex.justify-content-end.align-items-center
				ul.social-list.list-inline.mx-md-3.mx-lg-5.mb-0.d-none.d-lg-flex
					li.list-inline-item
						a(href="https://github.com/Doogiemuc/liquido-vue-frontend" target="_blank")
							i.fab.fa-github.fa-fw
				a.btn.btn-primary.d-none.d-lg-flex(href="") LIQUIDO App
