header.header.fixed-top
	.branding.docs-branding
		.container-fluid.position-relative.py-2
			.docs-logo-wrapper
				.site-logo
					a.navbar-brand(href="index.html")
						i.fa.fa-university
						| &nbsp;LIQUIDO
			
			.docs-top-utilities.d-flex.justify-content-end.align-items-center
				ul.social-list.list-inline.mx-md-3.mx-lg-5.mb-0.d-none.d-lg-flex
					li.list-inline-item
						a(href="#")
						i.fab.fa-github.fa-fw
					li.list-inline-item
						a(href="#")
						i.fab.fa-twitter.fa-fw
				a.btn.btn-primary.d-none.d-lg-flex(href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderdocs-free-bootstrap-4-documentation-template-for-software-projects/") LIQUIDO App
