footer.footer
	div.footer-bottom.text-center.py-5

		section.cta-section.text-center.py-5.theme-bg-dark.position-relative
			div.theme-bg-shapes-right
			div.theme-bg-shapes-left
			div.container
				h3.mb-2.text-white.mb-3 LIQUIDO
				div.section-intro.text-white.mb-3.single-col-max.mx-auto.
					Free, equal and private eVoting that is liquid.
				div.pt-3.text-center
					a.btn.btn-light(href="#") Liquido Web App

		<!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
		small.copyright.
			Layout template designed with #[i.fas.fa-heart(style="color: #fb866a;")] by #[a.theme-link(href="http://themes.3rdwavemedia.com" target="_blank")] Xiaoying Riley for developers
