
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='description' content='LIQUIDO - a liquid aproach to Direct Democracy')
meta(name='author' content='Robert RACKL')
link(rel='shortcut icon' href='/assets/images/favicon.ico')
// Google Font
link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
//link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap' rel='stylesheet')

// FontAwesome JS
script(defer='' type='text/javascript' src='/assets/fontawesome/js/all.min.js')
// Color theme for code text highlight.js
// link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.2/styles/atom-one-dark.min.css')
// Theme CSS
link#theme-style(rel='stylesheet' href='/css/theme.css')
