.page-header.theme-bg-dark.py-5.text-center.position-relative
	.theme-bg-shapes-right
	.theme-bg-shapes-left
	.container
		h1.page-heading.single-col-max.mx-auto LIQUIDO
		.page-intro.single-col-max.mx-auto A modern aproach to liquid democracy
		.main-search-box.pt-3.d-block.mx-auto
			form.search-form.w-100
				input.form-control.search-input(type='text' placeholder='Search the docs...' name='search')
				button.btn.search-btn(type='submit' value='Search')
					i.fas.fa-search

