#docs-sidebar.docs-sidebar.thesis-sidebar
	.top-search-box.d-lg-none.p-3
		form.search-form
			input.form-control.search-input(type='text' placeholder='Search the docs...' name='search')
			button.btn.search-btn(type='submit' value='Search')
				i.fas.fa-search
	nav#docs-nav.docs-nav.navbar
		ul.section-items.list-unstyled.nav.flex-column.pb-3

			li.nav-item.section-title
				a.nav-link.scrollto.active(href='#liquido-thesis')
					span.theme-icon-holder.mr-2
						i.fas.fa-flask
					| Liquido Thesis
			li.nav-item
				a.nav-link.scrollto(href='#how-does-liquido-work') How does Liquido Work?
			li.nav-item
				a.nav-link.scrollto(href='#liquid-democracy') Liquid Democracy

			li.nav-item.section-title.mt-3
				a.nav-link.scrollto(href='#liquido-voting-process')
					span.theme-icon-holder.mr-2
						i.fas.fa-angle-double-right
					| Liquido Voting Process
			li.nav-item
				a.nav-link.scrollto(href='#flowchart') Flowchart

			li.nav-item.section-title.mt-3
				a.nav-link.scrollto(href='#anonymous-evoting')
					span.theme-icon-holder.mr-2
						i.fas.fa-vote-yea
					| Anonymous eVoting
			li.nav-item
				a.nav-link.scrollto(href='#secure-evoting') Secure eVoting
			li.nav-item
				a.nav-link.scrollto(href='#hash-functions') Hash functions
			li.nav-item
				a.nav-link.scrollto(href='#evoting-with-hash-functions') eVoting with hash functions

			li.nav-item.section-title.mt-3
				a.nav-link.scrollto(href='#proxy-voting')
					span.theme-icon-holder.mr-2
						i.fas.fa-share-square
					| Proxy Voting
			li.nav-item
				a.nav-link.scrollto(href='#proxy-voting-impl') Implementation of proxy voting
			li.nav-item
				a.nav-link.scrollto(href='#tree-of-proxies') Tree of proxies
			li.nav-item
				a.nav-link.scrollto(href='#become-public-proxy') Become a public proxy

			li.nav-item.section-title.mt-3
				a.nav-link.scrollto(href='#FAQ')
					span.theme-icon-holder.mr-2
						i.fas.fa-question
					| LIQUIDO FAQ
			li.nav-item
				a.nav-link.scrollto(href='#faq-vote-private') Is my vote private?
			li.nav-item
				a.nav-link.scrollto(href='#faq-delegation-to-proxy') Delegation to a proxy
