#docs-sidebar.docs-sidebar
	.top-search-box.d-lg-none.p-3
		form.search-form
			input.form-control.search-input(type='text' placeholder='Search the docs...' name='search')
			button.btn.search-btn(type='submit' value='Search')
				i.fas.fa-search
	nav#docs-nav.docs-nav.navbar
		ul.section-items.list-unstyled.nav.flex-column.pb-3

			li.nav-item.section-title
				a.nav-link.scrollto.active(href='#liquido-user-guide')
					span.theme-icon-holder.mr-2
						i.fas.fa-map-signs
					| Liquido User Guide
			li.nav-item
				a.nav-link.scrollto(href='#what-is-liquido') What is Liquido?
			li.nav-item
				a.nav-link.scrollto(href='#liquid-democracy-video') Liquid Democracy

			li.nav-item.section-title
				a.nav-link.scrollto.active(href='#liquido-web-app')
					span.theme-icon-holder.mr-2
						i.fas.fa-university
					| The Liquido Web App
			li.nav-item
				a.nav-link.scrollto(href='#register-login') Register & Login
			li.nav-item
				a.nav-link.scrollto(href='#main-navigation') Main Navigation


			li.nav-item.section-title.mt-3
				a.nav-link.scrollto(href='#voting-basics')
					span.theme-icon-holder.mr-2
						i.fas.fa-angle-double-right
					| Liquido Voting Basics
			li.nav-item
				a.nav-link.scrollto(href='#add-idea') Add an idea
			li.nav-item
				a.nav-link.scrollto(href='#discuss-proposal') Discuss a proposal
			li.nav-item
				a.nav-link.scrollto(href='#start-join-poll') Start or join a poll
			li.nav-item
				a.nav-link.scrollto(href='#show-poll-details') Show poll details

			li.nav-item.section-title.mt-3
				a.nav-link.scrollto(href='#cast-vote')
					span.theme-icon-holder.mr-2
						i.fas.fa-vote-yea
					| Cast a vote
			li.nav-item
				a.nav-link.scrollto(href='#sort-proposals') Sort proposals
			li.nav-item
				a.nav-link.scrollto(href='#fetch-voter-token') Fetch voter token
			li.nav-item
				a.nav-link.scrollto(href='#cast-vote-anonymously') Cast vote anonymously

			li.nav-item.section-title.mt-3
				a.nav-link.scrollto(href='#proxy-voting')
					span.theme-icon-holder.mr-2
						i.fas.fa-share-square
					| Proxy Voting
			li.nav-item
				a.nav-link.scrollto(href='#assign-proxy') Assign a proxy
			li.nav-item
				a.nav-link.scrollto(href='#delegatin-requests') Delegation requests
			li.nav-item
				a.nav-link.scrollto(href='#public-proxy') Become a public proxy

			li.nav-item.section-title.mt-3
				a.nav-link.scrollto(href='#domain-model')
					span.theme-icon-holder.mr-2
						i.fas.fa-project-diagram
					| LIQUIDO Domain Model
			li.nav-item
				a.nav-link.scrollto(href='#domain-ideas') Ideas
			li.nav-item
				a.nav-link.scrollto(href='#domain-areas') Areas
			li.nav-item
				a.nav-link.scrollto(href='#domain-proposals') Proposals
			li.nav-item
				a.nav-link.scrollto(href='#domain-polls') Polls
			li.nav-item
				a.nav-link.scrollto(href='#domain-right-to-vote') Right to vote
			li.nav-item
				a.nav-link.scrollto(href='#domain-ballots') Ballots
			li.nav-item
				a.nav-link.scrollto(href='#domain-proxy-delegations') Proxy Delegations
