doctype html
head
	include includes/_html-head.pug
	title LIQUIDO Documentation
body
	include includes/_fixed-nav.pug
	include includes/_index-header.pug


.page-content
	.container
		.docs-overview.py-5
			.row

				.col-12.col-lg-4.py-3
					.card.shadow-sm
						.card-body
							h5.card-title.mb-3
								span.theme-icon-holder.card-icon-holder.mr-2
									i.fas.fa-university
								span.card-title-text User Guide
							.card-text
								section
								| Step by step guide for liquido users. This is also targetet to beginners. Here we introduce the most basic concepts behind Liquido.
								| You will learn what an idea, a proposal and a poll is.
							a.card-link-mask(href="liquido-doc.html#section-1")

				.col-12.col-lg-4.py-3
					.card.shadow-sm
						.card-body
							h5.card-title.mb-3
								span.theme-icon-holder.card-icon-holder.mr-2
									i.fas.fa-university
								span.card-title-text Liquido Voting Process
							.card-text
								section
								| The asdf lökjasdf kj adfsg jdsaökg aöldksjglakjg lkad sg
							a.card-link-mask(href="liquido-doc.html#section-1")

				.col-12.col-lg-4.py-3
					.card.shadow-sm
						.card-body
							h5.card-title.mb-3
								span.theme-icon-holder.card-icon-holder.mr-2
									i.fas.fa-university
								span.card-title-text Idea
							.card-text
								section
								| Everyone can add his idea. Ideas can be liked. When an idea receives
								| enough support, then it becomes a proposal. 
							a.card-link-mask(href="liquido-doc.html#section-2")

				.col-12.col-lg-4.py-3
					.card.shadow-sm
						.card-body
							h5.card-title.mb-3
								span.theme-icon-holder.card-icon-holder.mr-2
									i.fas.fa-university
								span.card-title-text Proposal
							.card-text
								section
								| A proposal can be discussed. The creator of the proposal can either
								| create a new poll or join an existing poll.
							a.card-link-mask(href="liquido-doc.html#section-3")

include includes/_footer.pug