doctype html
head
	include includes/_html-head.pug
	title LIQUIDO Documentation
body
	include includes/_fixed-nav.pug

.docs-wrapper
	
	include includes/_user-guide-sidebar.pug
	
	.docs-content
		.container
			article#liquido-user-guide.docs-article
				header.docs-header
					h1.docs-heading
						span.header-icon-holder
							i.fas.fa-map-signs
						| Liquido User Guide
						span.docs-time Last updated: 2019-12-30
					
				section.docs-intro#what-is-liquido
					h2.section-heading What is LIQUIDO ?
					ul
						li The goal of the LIQUIDO project is to offer a free, secure and liquid eVoting plattform.
						li LIQUIDO implements the modern electoral concept called Liquid Democracy with Proxy Voting (Delegative Democracy).
						li It extends these concepts, so that the whole voting process runs by itself, without the need for a central authority.
						li And last but not least: Implementing LIQUIDO has been my personal hobby since more than four years now. I invested every last minute of my spare free time into it. I learned a lot from it.
					p.
						This User Guide is aimed at LIQUIDO users that are completely new to Liquid Democracy. It describes the LIQUIDO web application and how it works.
						Here the most basic concepts that LIQUIDO is built upon are introduced. The sections in this user guide will walk you through the LIQUIDO voting process step by step.
					p.
						This User Guide describes <em>how</em> the LIQUIDO web application works. 
						If you want to know more about <em>why</em> LIQUIDO works the way it does, then you can find a more in depth discourse in the <a href="/liquido-thesis.html">LIQUIDO Thesis</a>.
					//p.
						If you want to host your own instance of the LIQUIDO, then the <a href="liquido-tech.html">technical administration handbook</a> will help you set things up.

				section.docs-section#liquid-democracy-video
					h2.section-heading What is Liquid Democracy ?
					iframe.shadow(width="560" height="315" src="https://www.youtube.com/embed/jPsfm6Y49aA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					figcaption.figure-caption
							i.fas.fa-info-circle.mr-2
							| This video was created with the free version of <a href="http://www.mysimpleshow.com/" target="_blank">mySimpleShow</a>.

			article.docs-article#liquido-web-app
				header.docs-header
					h1.docs-heading 
						span.header-icon-holder
							i.fas.fa-university
						| The LIQUIDO Web App
					section.docs-intro
						p.
							LIQUIDO is a web based application that runs in the browser. You do not need to install anything to use LIQUIDO. When you use LIQUIDO for the first time,
							you must register as a new user first.

				section.docs-section#register-login
					h2.section-heading Register & Login
					p Navigate to LIQUIDO with your browser. Click on the "Register" button at the bottom of the LIQUIDO start page to register as a new user. If you already have registered before you can login at the top right.
					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow(src="images/screenshot-liquido-home.png")

					h4.mt-5 Register as a new user
					figure
						img(src="images/screenshot-register.png")
						figcaption.figure-caption
							i.fas.fa-info-circle.mr-2
							| Name, email and mobilephone are mandatory. Choose any avatar you like. Website is optional.

					p In Liquido there are no passwords. Instead you will login with a one time token in the next step.
					p After you have registered you are automatically forwarded to the login page. There are two ways to login to LIQUIDO. You can either login via your email or you can login via your mobilephone.

					h4.mt-5 Login via Email
					p.
						Enter your email adress and click the "Send login link" button. Then a magic login link will be sent to your email account. Simply click on the link in
						the received email and you will be logged in. Keep in mind, that the magic link in the email is only valid for a limit amount of time. After that you have to login again.
					img(src="images/screenshot-login-via-email.png")
					
					h4.mt-5 Login via SMS
					p.
						Or alternatively you can login via SMS. Enter your mobile phone number and click the "Send login token" button. A 6 digit one time login token will be sent
						to your mobilephone via SMS. Enter that 6-digit number in the 6 fields that are then shown. The SMS login token is only valid once!
					img.mb-3(src="images/screenshot-login-via-sms.png")
					p.
						When your token was correct you will be forwarded to the liquido start page. You can see your avatar at the top right when logged in.
					
				section.docs-section#main-navigation
					h2.section-heading Main Navigation
					p.
						At the top of the LIQUIDO web application you can see four arrows: Ideas, Proposals, Polls and Laws. These arrows are the main navigation in LIQUIDO.
						When you are logged in you can click on each arrow to navigate to the corresponding overview page.
					p.
						The magnifying glass leads to the search page.
						Click on your avatar to navigate to your User Home. The drop down menu behind your username shows further links, e.g. to add an idea or set a proxy.
						
					figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow(src="images/screenshot-main-navigation.png")

					p.
						Each arrow leads to an overview page that shows a list of current Ideas, Proposals, Polls and Laws. And yes the arrows do represent a process from left to right.
				

			article.docs-article#liquido-voting-process
				header.docs-header
					h1.docs-heading 
						span.header-icon-holder
							i.fas.fa-angle-double-right
						| LIQUIDO Voting Process
					section.docs-intro
						p.
							The goal of LIQUIDO is to offer a free, secure and liquid eVoting platform that does not need a central authority. The whole voting process should be automatic.
							We archived this goal by implementing a new approach to liquid democracy, where voters themselves drive the whole process. This section will give you a first
							overview of the voting process in LIQUIDO. We will go into more details of each step in the following chapters.
						figure.figure.docs-figure.py-3
							img.figure-img.img-fluid.border.shadow(src="images/Flowchart.png")
						p Everything starts with an idea. In LIQUIDO anyone my suggest his idea. An idea can be liked. When an idea receives enough support, then it becomes a proposal.
						p.
							The creator of the idea can then start a new poll. Other ideas that have reached their quorum and became a proposal can now join this poll. But they
							must have reached their quorum.
						p.
							The elaboration phase runs for a defined amount of time, e.g. two weeks. During this phase the proposals in the poll can be discussed. Each creator of a 
							proposal can (and should) update his proposal according to this discussion.
							When the elaboration phase is finished, then the voting phase starts. Then voters can cast their vote in this poll.
						p.
							In LIQUIDO you as a voters don't just vote for or against a proposal, but instead you sort the proposals into your preferred order. You do not have to vote for
							all proposals. Just the ones that you chose. In your preferred order. 
						p.
							LIQUIDO then selects the winning proposal of the poll with the well researched <a href="https://en.wikipedia.org/wiki/Ranked_pairs">Ranked Pairs</a> electoral system.

				section.docs-section#add-idea
					h2.section-heading Add an idea
					p.
						Everything starts with an idea. An idea might be any suggestion for improvement. When someone suggests an idea, then he looks for support 
						for his idea. Other LIQUIDO users can like and idea and thus support it. 
					p.
						Every idea is created in an area. An area can by a category, a department or a topic. This depends on what you are using LIQUIDO for. For example if you are a small group of people in a social club,
						then your areas might be "finance", "spokesman" and "events". If you are a school class, then your areas might be "timetable", "excursions" and "canteen".
					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow.rounded(src="images/screenshot-add-idea.png")

				section.docs-section#discuss-proposal
					h2.section-heading Discuss a proposal
					p When an idea received enough support then it automatically becomes a proposal. A proposal can then be further discussed. Other users can add comments to proposals.
					p When the creator of a proposal wants to put his proposal to the vote, then he can choose to either start a new poll or join an existing poll.
					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow.rounded(src="images/screenshot-proposal-in-elaboration.png")
					
				section.docs-section#start-join-poll
					h2.section-heading Start or join a poll
					h4 Start a new poll
					p.
						The very first proposal must of course start a new poll. Further proposals in the same area can then join this poll and suggest other possible alternatives.
					p.
						When a new poll is created, then it is in its elaboration phase. Furhter alternative proposals can join. All proposals in the poll can still be discussed.
						The authors of the proposals should pay close attention to the comments on their proposal. Ideally, they will adapt their proposal accordingly, so that their
						proposal might then receive the highest support in the coming voting phase.
					h4 Join an existing poll
					p.
						When there already is a poll (in the same area than the proposal) that is still in elaboration phase, 
						then the creator of the proposal can decide to join this already existing poll. He should do so if the poll is about the same topic.
						This way his proposal will be put to the vote faster. All proposal in a poll must always be in the same area!
					
				section.docs-section#show-poll-details
					h2.section-heading Show poll details
					p.
						A poll consists of an unsorted set of proposals that joined the poll. A poll runs through phases: ELABORATION, VOTING and then FINISHED.
						When the poll is initially created it consists of only one proposals. At least one more alternative proposal must join, before the voting phase can start.
						During the elaboration phase all proposals in the poll can still be discussed, commented on and be improved by their creators.
					p When voting starts, then the proposals in this poll cannot be changed anymore. Voters can then cast their vote.
					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow.rounded(src="images/screenshot-poll-in-elaboration.png")
					
			article.docs-article#cast-vote
				header.docs-header
					h1.docs-heading
						span.header-icon-holder
							i.fas.fa-vote-yea
						| Cast a vote
					section.docs-intro
						p.
							In LIQUIDO you don't just vote for or against one proposal. Instead you sort proposals of a poll into your personally preferred order. You do not necessarily need to vote
							for all proposals in a poll. Simply pick the ones you want to vote for. Sort them into your preferred order in your ballot.
				section.docs-section
					h2.section-heading Polls Page
					p The Polls page shows polls that are currently open for voting in the right column:
					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow(src="images/screenshot-polls-in-voting.png")

					p Click on one of those polls from the right column to show its details. As you can see, this poll is in its voting phase:
					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow.rounded(src="images/screenshot-poll-in-voting.png")

					p#sort-proposals.
						Click on the "Cast vote" button. On  the next page you can now sort the proposals into your prefferred order in your ballot. Simply drag proposals from the left 
						to the right. And sort your most preferred proposal to the top. You do not necessarily need to vote for all proposals in the poll. When you are finished sorting click on the "Next" button.
					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow.rounded(src="images/screenshot-sort-proposals.png")

					p#fetch-voter-token To finally cast your vote now two steps are necessary in LIQUIDO:
					p.
						First we fetch a <em>Voter Token</em> from the LIQUIDO backend. A voter token is the digital representation of your right to vote. With this token a ballot can be casted anonymously. 
						The Voter Token is confidential! It must not be revealed!
					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow.rounded(src="images/screenshot-cast-vote-start.png")

					p#cast-vote-anonymously When your ballot was counted successfully you will see this success message:
					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow.rounded(src="images/screenshot-cast-vote-success.png")

					p In this example the voter was also a proxy for 8 other voters. So his vote counted that many times.

			article.docs-article#proxy-voting
				header.docs-header
					h1.docs-heading
						span.header-icon-holder
							i.fas.fa-share-square
						| Proxy Voting
					section.docs-intro
						p.
							In most democratic countries' current political system voters delegate their voting power to an elected parliament. This institution is elected for a fixed
							amount of time. During that time they pretty much can do what they want and you as a voter have no possibility whatsoever to prevent that. In LIQUIDO this is different.
						p.
							In Liquid Democracy it is possible to delegate one's right to vote to a proxy. But this delegation can be retracted at any time. And it is <strong>always</strong> possible to
							vote for yourself. Even if your assigned proxy has already casted a ballot for you (as long as a poll is still in its voting phase.) And the vote of a proxy will <strong>never</strong> overrule a ballot casted by yourself.
						p.
							A proxy may in turn delegate all his collected rights to vote to another parent proxy. This way a tree of proxies evolves where the voting power culminates at the top. You can see who is your proxy at the top of this chain.
							You may completely revoke your delegation to a proxy at any time. This way the tree of delegations is in a constant state of change - it's kind of <em>liquid.</em>
				section.docs-section#assign-proxy
					h2.section-heading Assign a proxy
					p.
						Click on your username at the top right in the navigation bar to open the user menu. From there you can configure your "Proxy Delegations". You can assign one procy per area.
					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow.rounded(src="images/screenshot-user-menu.png")
					p.
						The proxy page shows information about your proxy and yourself as a proxy in each area. The top of part of each panel shows your currently assigned direct proxy in each area. If your direct proxy forwarded his right to vote to another parent proxy (and so on)
						the top proxy at the end of this delegatin chain is shown. The bottom part of each panel shows information about you as a proxy in this area. If you are a public proxy and if there are any pending delegation requests.
					figure.docs-figure
						img.figure-img.img-fluid.border.shadow.rounded(src="images/screenshot-assigned-proxies.png")
						figcaption.figure-caption.mb-3.text-center
							i.fas.fa-info-circle.mr-2
							| User's proxy page

					p To edit your proxy in an area click on its avatar image. To assign a new proxy click on the "Assign proxy" placeholder. On the edit proxy page you can then select a new proxy.
					p If a proxy is not a public proxy, then the delegation can only be requested. The proxy must still accept the delegation.
					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid.border.shadow.rounded(src="images/screenshot-edit-proxy.png")
						figcaption.figure-caption.mb-3.text-center
							i.fas.fa-info-circle.mr-2
							| Assign a proxy

				section.docs-section#delegatin-requests
					h2.section-heading Delegation requests
					p When another voter wants to assign you as his proxy, then you will receive a delegation request. You may choose to accept these delegation requests per area on the proxy page.
					.callout-block.callout-block-info
						.content
							h4.callout-title Note about delegation requests
							p.
								There is one little detail about proxy voting you might want to consider. When you accept delegation requests, and this become a proxy, then your vote will also create ballots for all your delegees.
								As a logical consequence your delegees will know <em>how</em> you voted, because you also voted for them. Your vote is not completely private anymore.
								But only your delegees will be able to see how you voted. No one else!
							p.
								If you don't want that you simply dont't need to accept any delegation requests. Then your vote will stay completely private and secret. But of course then it will only count one time.
					
					h2.section-heading#public-proxy Become a public proxy
					p.
						When you want to collect as many delegations as possible, you can decide to become a <em>public proxy.</em> Your username will internally be stored with your right to vote, so that other users
						can immideately delegate their right to vote to you. You will not need to accept delegation requests anymore. They will be accepted automatically.

			article.docs-article#domain-model
				header.docs-header
					h1.docs-heading
						span.header-icon-holder
							i.fas.fa-project-diagram
						| LIQUIDO Domain Model
					section.docs-intro
						p The above sections looked at the LIQUIDO voting process from start to finish. This section describes the LIQUIDO domain objects in more detail.			

				section.docs-section#ideas
					h2.section-heading#domain-ideas Ideas
					p.
						Everything starts with an idea. An idea just simply has a title and a description. Ideas can be liked by other users.
						When an idea receives enough support, then it becomes a proposal and can be further discussed.
						Every idea is created in one area

					h2.section-heading#domain-areas Areas
					p.
						An area can be a category, a department or just simply a topic. This depends in which context you are using LIQUIDO. For example if you are a social club
						your areas might be "finance", "functions" or "statute". If you are a school your areas might be "excursions", "lessons" or "canteen".
						Ideas, Proposals, Polls, Laws and Proxies are all "per area".
					
					h2.section-heading#domain-proposals Proposals
					p When an idea receives enough support, it becomes a proposal. A proposal has a title, description and a status.
					p A proposal can be discussed. Users can add comments to a proposal. The creator of the proposal can (and should) update his description according to the comments.
					p When the creator of a proposal wants to put his proposal to the vote, then he can choose to either start a new poll with his proposal or to join an existing poll.
					
					h2.section-heading#domain-polls Polls
					p.
						A poll consinsts of an unsorted set of proposals. Initially a poll may have only one proposals until further alternative proposals join. During this ELABORATION phase
						every proposal in the poll may still be discussed and updated by its creator.
					p.
						After a certain amount of time (if there are at least two alternative proposals in the poll) the voting phase automatically starts. From now on the proposals in the poll
						must not be updated anymore. Users can now cast their vote in the poll. The poll is in VOTING.

					h2.section-heading#domain-right-to-vote Right to vote
					p.
						Each voter has a personaly assigned secret voterToken per area. This is the digital representation of a users right to vote in this area. The voter token is confidential. It must not be revealed!
						When a user delegates his right to vote to a proxy, then this delegation is stored. When a proxy casts his vote, then a ballot for each delegated right to vote will be created.
					p.
						Right to votes are stored at the server, when a voter requests his voter token. This way a voter token can later be validated anonymously.

					h2.section-heading#domain-ballots Ballots
					p.
						When you cast your vote in LIQUIDO you do not simply vote for or against one proposal. Instead you sort proposals into your personally preferred order in your ballot.
						Every ballot is <em>anonymous</em>. It is not connected to any specific user. A ballot can only be casted, when the voter has a valid right to vote.

					h2.section-heading#domain-proxy-delegations Proxy Delegations
					p.
						When a user wants to assign a proxy but this proxy is not (yet) a public proxy, then the delegation can only be requested. The proxy must still accept his delegation requests.
						The delegation points from a delegee to a proxy. It references the user's right to vote that shall be delegated.
					
					h2.section-heading Domain  Overview
					p.
						This figure is a techical class diagram of the LIQUIDO domain objects. It also shows the relations between the objects.

					figure.figure.docs-figure.py-3
						img.figure-img.img-fluid(src="images/liquido-class-diagram-plantUML.png")
					
					hr
					h2.section-header#further-readings
					p.
						This is the end of the LIQUIDO User Guide. This guide is aimed at LIQUIDO users. It describes <em>HOW</em> the LIQUIDO web app works. If you wont to know more details about
						<em>WHY</em> LIQUIDO works the way it does, then you can find a more in depth discourse in the <a href="/liquido-thesis.html">LIQUIDO Thesis</a>.
					p.
						If you want to host your own instance of the LIQUIDO, then the <a href="liquido-tech.html">technical administration handbook</a> will help you set things up.

			footer.footer
				.container.text-right.py-5
					small.copyright
						a(href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderdocs-free-bootstrap-4-documentation-template-for-software-projects/" target="_blank") Layout Template
						| 
						span &copy; 
						a(href='https://themes.3rdwavemedia.com/' target='_blank') 3rd Wave Media



// Javascript
script(src='assets/plugins/jquery-3.4.1.min.js')
script(src='assets/plugins/popper.min.js')
script(src='assets/plugins/bootstrap/js/bootstrap.min.js')
// Page Specific JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js')
script(src='assets/js/highlight-custom.js')
script(src='assets/plugins/jquery.scrollTo.min.js')
script(src='assets/plugins/lightbox/dist/ekko-lightbox.min.js')
script(src='assets/js/docs.js')
